@import 'Colors.css';

.pricing-card {
  width: 400px;
  height: 600px;
  background-color: var(--panels);
  border-radius: 50px;
  padding: 20px;
}

.pricing-icon {
  width: 400px;
  height: 400px;
}

.pricing-title {
  font-family: Monda;
  font-size: 24px;
  font-weight: bold;
  padding: 0;
  margin-bottom: 0;
}

.pricing-description {
  font-family: Monda;
  font-size: 20px;
  padding: 0;
  margin: 0;
}

.pricing-price {
  font-family: Monda;
  font-size: 20px;
  font-weight: bold;
  padding: 0;
  margin: 0;
}